@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo {
  font-family: 'Gochi Hand', cursive;
  font-size: 3em;
  margin: 10px 0;
  color: darkcyan;
}

.topics .topic {
  margin: 0 10px;
}

.topic .important {
  color: red;
}

.search-bar {
  padding: 8px 10px;
  min-width: 300px;
  background: #fff;
  border: 1px solid darkgrey;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px hsl(0, 0%, 90%);
}

.button {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid darkcyan;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button.primary {
  background: darkcyan;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.article,
.section {
  margin: 50px 0;
}

.article img {
  max-width: 500px;
}

.section img {
  max-width: 1000px;
}
